* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

section {
    width: 28%;
    min-height: 70vh;
    background-color: white;
    position: absolute;
    top: 15%;
    left: 34%;
}

body {
    background-color: darkcyan;
}

img {
    width: 150px;
    height: 120px;
    border-radius: 75px;
    margin-left: 10%;
}

.image {
    position: absolute;
    left: 38%;
    padding-top: 3%;
    margin-right: 1%;
    align-items: center;
}

h3 {
    margin-top: 8%;
    font-size: 30px;
    letter-spacing: 1.2px;
    font-weight: bolder;
}

#video {
    width: 150px;
    height: 45px;
    outline: none;
    border: none;
    background-color: darksalmon;
    font-size: 25px;
    margin-top: 7%;
    border-radius: 20px;
    margin-left: 10%;
    padding: 3%;
    color: darkslategray;
}

.text {
    display: flex;
    position: absolute;
    top: 33%;
    font-size: 30px;
    left: 21%;
}

.text2 {
    margin-left: 11%;
}

.text3 {
    margin-left: 15%;
}

span {
    text-align: center;
}

.buttontext {
    position: absolute;
    top: 49%;
    left: 5%;
}

.follow-button {
    width: 200px;
    height: 70px;
    margin-left: 35%;
    font-size: 30px;
    outline: none;
    background-color: salmon;
    border: none;
    color: white;
    font-weight: bolder;
    letter-spacing: 1.2px;
    border-radius: 5px;
    margin-bottom: 7%;
}

p {
    font-size: 25px;
    text-align: center;
    color: rgb(172, 63, 13);
}